.footer{
    padding: 50px 20px;
}

.footer{
    background-color: lightcyan;
    padding: 100px 50px;
    text-align: center;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer a{
    color: black;
    text-decoration: none;
}

.footer a:hover{
    color: lightblue;
    text-decoration: none;
}